@page
@model StudentApplication.Pages.Student.DisplaySingleModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>

    <div>
        <form method="get">
            <label for="studentId">Enter Student ID: </label>
            <input type="text" id="studentId" name="Id" />

            <button type="submit">Fetch Student</button><br />
        </form>
    </div>


    <div>
        @{
            if (Model.student != null)
            {
                <h2>Details for Student ID: @Model.student.Id</h2>
                <p>First Name: @Model.student.FirstName</p>
                <p>Last Name: @Model.student.LastName</p>
                <p>Email: @Model.student.Email</p>
            }
            else if (!string.IsNullOrEmpty(Model.Id))
            {
                <p>Student with ID @Model.Id not found</p>
            }
        }

    </div>

        
       
    
</body>
</html>

